{{- define $relroot (dotpath .relroot "") -}}
+ [Home](/)
+ [README]({{- $relroot -}})
{{- with .documentation }}+ [Documentation]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .installation }}+ [Installation]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .gitrepo }}+ [Github]({{- . -}}){{- end }}
{{- else }}
{{- range .fnames }}
+ [{{- english_title (unslug (base .)) -}}]({{ dotpath $relroot "" -}}{{- dotpath . "" -}}
{{- end }}
{{- range .dnames }}
+ [{{- english_title (unslug . ) -}}]({{ dotpath $relroot "" -}}{{- dotpath . "" -}})
{{- end }}
{{- end }}
