{{- $relroot := .relroot -}}
+ [Home](/)
{{- with .readme }}
+ [README]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .license }}
+ [LICENSE]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .install }}
+ [INSTALL]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .docs }}
+ [Documentation]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .howto }}
+ [How to ...]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .gitrepo }}
+ [Github]({{- . -}}){{- end }}
{{- range .fnames }}
+ [{{- english_title (unslug (base .)) -}}]({{- $relroot -}}{{- . -}}
{{- end }}
{{- range .dnames }}
+ [{{- english_title (unslug (base .) "./") -}}]({{- $relroot -}}{{- . -}})
{{- end }}
